:root {
  --primary-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
  --btn-bg-color-hover: #188ce8;
  --color-logo-theme-dark: #fff;
  --color-logo-theme-light: #000;
  --primary-color: #212121;
  --secondary-color: #757575;
  --light-text-color: #fff;
  --link-color: rgba(255, 255, 255, 0.6);
  --bg-dark-color: #2f303a;
  --bg-light-color: #f5f4fa;
  --bg-card-color: #fff;
  --icon-header-color: #757575;
  --icon-color: #afb1b8;
  --footer-icon-color: #fff;
  --bg-benefit-card: #f5f4fa;
  --bg-hero-color: #c4c4c4;
  --border-page-color: #ececec;
  --border-service-card-color: #eeeeee;
  --bg-overlay-project-card-color: rgba(47, 48, 58, 0.8);
  --bg-overlay-service-card-color: rgba(33, 150, 243, 0.9);
  --bg-modal-color: rgba(0, 0, 0, 0.2);
  --modal-form-border-color: rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    line-height: 0;
  }
  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__list {
    padding-top: 48px;
    margin-bottom: 300px;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 36px;
  }
  .mobile-menu-contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-contact {
    margin-bottom: 64px;
  }
  .mobile-menu-contact__tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  .mobile-menu-contact__tel-link:hover, .mobile-menu-contact__tel-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu-contact__email-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  .mobile-menu-contact__email-link:hover, .mobile-menu-contact__email-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu-social {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-menu-social__item:not(:last-child) {
    border-right: 1px solid var(--modal-form-border-color);
    padding-right: 10px;
  }
  .mobile-menu-social__item:not(:first-child) {
    padding-left: 10px;
  }
  .mobile-menu-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (max-width: 480px) {
  .mobile-menu__link {
    font-size: 35px;
  }
  .mobile-menu-contact__tel-link {
    font-size: 28px;
  }
  .mobile-menu-contact__email-link {
    font-size: 22px;
  }
  .mobile-menu-social__link {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-text-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn:hover, .main-btn:focus {
  background-color: var(--btn-bg-color-hover);
}

.main-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 36px;
    line-height: 1.17;
  }
}
.backdrop {
  background-color: var(--bg-modal-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background-color: var(--bg-card-color);
  width: 450px;
  height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.modal-btn-close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal-btn-close:hover .modal-btn-close__icon, .modal-btn-close:focus .modal-btn-close__icon {
  fill: var(--accent-color);
}

.modal-btn-close__icon {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--modal-form-border-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__name {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.modal-wrap {
  display: block;
  position: relative;
}

.modal-form__label {
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--modal-form-border-color);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__btn {
  align-self: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 10px;
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: var(--btn-bg-color-hover);
}

.policy {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.policy__text {
  font-size: 12px;
  line-height: 1.71;
  color: var(--secondary-color);
  cursor: pointer;
}

.policy__icon {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  margin-right: 7px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy__checkbox:checked + .policy__icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-origin: border-box;
  background-size: contain;
  border-color: var(--accent-color);
}
.policy__checkbox:hover + .policy__icon, .policy__checkbox:focus + .policy__icon {
  border: 2px solid var(--accent-color);
}

.policy__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  position: relative;
}
.policy__link::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 5px;
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .policy__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
    height: 609px;
  }
  .policy__text {
    font-size: 10px;
  }
  .policy__link {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .menu-contact {
    display: none;
  }
  .mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
  }
  .mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu-btn__icon:hover, .mobile-menu-btn__icon:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__link_current {
    color: var(--accent-color);
  }
}
.header {
  padding-top: 10px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-page-color);
}

.logo-header {
  color: var(--color-logo-theme-light);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .logotype-header {
    margin-right: 87px;
  }
  .menu-contact {
    margin-left: auto;
    align-items: center;
  }
  .menu__item {
    position: relative;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    padding-top: 17px;
    padding-bottom: 17px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu-contact__link {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    fill: currentColor;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-contact__link:hover, .menu-contact__link:focus {
    color: var(--accent-color);
  }
  .menu-contact__icon {
    margin-right: 10px;
  }
  .menu__link_current {
    color: var(--accent-color);
  }
  .menu__link_current::after {
    content: "";
    background-color: var(--accent-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -18px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-contact {
    display: flex;
  }
  .menu-contact__item:not(:last-child) {
    margin-right: 30px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg/bg-img-mobile.jpg");
  background-size: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-hero-color);
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg/bg-img-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
  .hero {
    background-size: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg/bg-img-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg/bg-img-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
  }
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg/bg-img-desktop.jpg");
    padding-top: 190px;
    padding-bottom: 190px;
    background-size: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg/bg-img-desktop@2x.jpg");
  }
}
@media screen and (max-width: 479px) {
  .hero__title {
    font-size: 20px;
    width: 100%;
  }
}
.benefits__icon-wrap {
  display: flex;
  align-items: center;
  background-color: var(--bg-benefit-card);
  justify-content: center;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__title {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-align: center;
}

.benefits__text {
  line-height: 1.71;
  color: var(--secondary-color);
}

.benefits__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__icon-wrap {
    width: 354px;
  }
  .benefits__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .benefits__text {
    width: 354px;
  }
  .benefits__title {
    text-align: start;
  }
  .benefits__item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icon-wrap {
    width: 270px;
  }
  .benefits__list {
    flex-wrap: nowrap;
  }
  .benefits__text {
    width: 270px;
  }
}
@media screen and (max-width: 479px) {
  .benefits__icon-wrap {
    width: 100%;
  }
}
.projects {
  display: none;
}

@media screen and (min-width: 1200px) {
  .projects {
    display: block;
  }
  .projects__title {
    margin-bottom: 50px;
  }
  .projects__list {
    display: flex;
    gap: 30px;
  }
  .projects {
    padding-bottom: 94px;
  }
  .projects__item {
    position: relative;
  }
  .projects__over-text {
    background-color: var(--bg-overlay-project-card-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-text-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
  }
}
.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.team-list__profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.team {
  background: var(--bg-light-color);
}

.team__title {
  margin-bottom: 30px;
}

.team-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team-list__card {
  background-color: var(--light-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.indent-card {
  padding: 30px 20px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team-contact {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-contact__link:hover, .team-contact__link:focus {
  background-color: var(--accent-color);
  fill: var(--light-text-color);
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 479px) {
  .team-list__card {
    width: 100%;
  }
  .team-list__img {
    width: 100%;
  }
}
.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  column-gap: 8px;
  row-gap: 15px;
}

.portfolio-filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background: var(--bg-light-color);
  cursor: pointer;
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter__btn:hover, .portfolio-filter__btn:focus {
  color: var(--light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.service-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.indent-service-card {
  padding: 20px 24px;
  border: 1px solid var(--border-service-card-color);
  border-top: none;
  flex-grow: 1;
}

.service-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-card__link:hover, .service-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.service-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.service-card__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}

.service-card__overlay {
  background-color: var(--bg-overlay-service-card-color);
  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-card__link:hover .service-card__overlay, .service-card__link:focus .service-card__overlay {
  transform: translate(0, 0);
}

.service-wrap {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
    margin-bottom: 30px;
  }
  .service-card__title {
    max-width: 304px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
  .service-card__title {
    max-width: 320px;
  }
}
@media screen and (max-width: 767px) {
  .service-card__img {
    width: 100%;
  }
}
.clients__title {
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
  .clients__title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .clients-list {
    justify-content: center;
  }
}
.address {
  font-style: normal;
}

.footer {
  background-color: var(--bg-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--color-logo-theme-dark);
}

.logo-link-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.address__item {
  line-height: 1.71;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--light-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__info {
  color: var(--link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__info:hover, .address__info:focus {
  color: var(--accent-color);
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 20px;
}

.footer-contacts {
  display: flex;
  gap: 10px;
}

.footer-contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--footer-icon-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  background-color: var(--accent-color);
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 60px;
}

.sign-up__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 20px;
}

.sign-up-form__input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: var(--color-logo-theme-dark);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sign-up-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--link-color);
}
.sign-up-form__input:hover, .sign-up-form__input:focus {
  border-color: var(--accent-color);
}

.sign-up {
  width: 100%;
}

.sign-up-form__btn {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 28px;
  color: var(--color-logo-theme-dark);
}

.sign-up-form__img {
  fill: var(--footer-icon-color);
  margin-left: 10px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    gap: 60px;
  }
  .sign-up-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrap {
    justify-content: space-between;
    text-align: start;
  }
  .sign-up-form__input {
    width: 358px;
  }
  .sign-up-form {
    flex-direction: row;
    gap: 12px;
  }
  .sign-up-form__btn {
    margin: 0;
  }
  .sign-up {
    width: auto;
  }
}/*# sourceMappingURL=main.css.map */