.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.team-list__profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.team {
  background: var(--bg-light-color);
}

.team__title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team-list__card {
  background-color: var(--light-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.indent-card {
  padding: 30px 20px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team-contact {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--light-text-color);
  }
}
