:root {
    --primary-font: 'Roboto', sans-serif;
    --accent-color: #2196f3;
    --btn-bg-color-hover: #188ce8;
    --color-logo-theme-dark: #fff;
    --color-logo-theme-light: #000;
    --primary-color: #212121;
    --secondary-color: #757575;
    --light-text-color: #fff;
    --link-color: rgba(255, 255, 255, 0.6);
    --bg-dark-color: #2f303a;
    --bg-light-color: #f5f4fa;
    --bg-card-color: #fff;
    --icon-header-color: #757575;
    --icon-color: #afb1b8;
    --footer-icon-color: #fff;
    --bg-benefit-card: #f5f4fa;
    --bg-hero-color: #c4c4c4;
    --border-page-color: #ececec;
    --border-service-card-color: #eeeeee;
    --bg-overlay-project-card-color: rgba(47, 48, 58, 0.8);
    --bg-overlay-service-card-color: rgba(33, 150, 243, 0.9);
    --bg-modal-color: rgba(0, 0, 0, 0.2);
    --modal-form-border-color: rgba(33, 33, 33, 0.2);
}